*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: aqua;
    
    
}
.container{
    height: 350;
}
.pic2{
background-image: url('../assets/images/image1.png');
  display: block;
  position: relative;

  background-size: contain;
}